<ion-content color="primary">
  <ion-item color="primary">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="./assets/images/image3.png" width="100%" height="100%"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col>
              <ion-text class="ion-text-lg-justify" color="primary">
                <h1> Déjanos ocuparnos de la limpieza mientras que tú te ocupas de lo más importante.</h1>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>