.client {
    background-size: 100% cover;
    background-position: top center;
    background-color: rgb(159, 68, 148);
    height: auto;
    display: flex;
  }
  
  .header {
    color: rgb(241, 241, 241);
  }
  
  
  .data-container {
    padding: 20px;
    margin-bottom: 30px;
    background-color: rgba(241, 241, 241, 0.8);
    color: blueviolet;
    border-radius: 1cm;
    border-color: blueviolet;
    border-style: solid;
    height: 70%;
  }
  
  
  .example-card {
    background-color: rgb(230, 199, 233);
    color: blueviolet;
    border-color: blueviolet;
    border-style: solid;
    margin: 10px;
  }
  
  mat-card-header {
    background-color: rgb(159, 68, 148) !important;
  }
  
  .info-paragraph {
    margin-top: 20px !important;
    background-color: rgba(241, 241, 241, 0.8);
    padding: 5px;
    border-radius: 10px;
  }
  
  .btn-success {
    background-color: blueviolet !important;
    border: none;
  }
  