<!-- 
  div [innerHTML] class="client p-1" id="client">
  <div class="container">
    <div class="header text-center">
      <h2>Bienvenido {{nombreUsuario}}</h2>
      <div class="row personal-info text-center">
        <h2 class="col-sm-12 col-md-12 col-lg-12">
          Datos de Usuario
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 data-container">
        <h5>Nombre Completo</h5>
        <label>{{data.genericObject.completeName}}</label>
        <h5>Dirreción</h5>
        <label>{{data.genericObject.address}}</label>
        <h5>Teléfono</h5>
        <label>{{data.genericObject.phone}}</label>
        <h5>Email</h5>
        <label>{{data.genericObject.email}}</label>
        <div class="profile-avatar pt-2" style="text-align-last: center;">
          <img src="./assets/images/profile-avatar2.png" width="50%" height="50%">
        </div>
      </div>
       -->
      <!-- Information Cards -->
      <!-- <div class="info-cards col-xs-12 col-md-12 col-lg-8">
        <!-- Card 1 
        <div class=" card1">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title style="font-size: 15px; color: cornsilk;">Limpieza Residencial</mat-card-title>
            </mat-card-header>
            <mat-card-content class="pl-3">
              <p class="info-paragraph">
                Servicio especializado en la limpieza residencial, puedes ingresar el número de cuartos y de baños y
                nosotros te daremos un estimado, el servicio de limpieza residencial de ServiApp es totalmente
                personalizable y garantizado con el mínimo de ruido posible.
              </p>
              <div class="row text-center">
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <label>Cuartos</label>
                  <ion-select [formControl]="rooms" style="width: 100%;">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                  </ion-select>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <label>Baños</label>
                  <ion-select matNativeControl [formControl]="bathrooms" style="width: 100%;">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                  </ion-select>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions class="text-center">
              <div padding>
                <ion-button size="large" type="submit" expand="block">Contratar</ion-button>
              </div>
            </mat-card-actions>
          </mat-card>
        </div> -->
        <!-- Card 2 -->
      <!--  <div class="card2">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title style="font-size: 15px; color: cornsilk;">Limpieza Comercial</mat-card-title>
            </mat-card-header>
            <mat-card-content class="pl-3">
              <p class="info-paragraph">
                Servicio especializado en la limpieza de los locales de tu comercio, puedes ingresar el número de
                oficinas y baños que posees, y nosotros te daremos un precio estimado, el servicio de limpieza comercial
                de ServiApp es totalmente personalizable y garantizado con el míhimo de ruido posible.
              </p>
              <div class="row text-center">
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <label>Oficinas</label>
                  <ion-select [formControl]="rooms" style="width: 100%;">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                  </ion-select>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <label>Baños</label>
                  <ion-select matNativeControl [formControl]="bathrooms" style="width: 100%;">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                  </ion-select>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions class="text-center">
              <div padding>
                <ion-button size="large" type="submit" expand="block">Contratar</ion-button>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
        <!-- Card 3 -->
        <!-- <div class="card3">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title style="font-size: 15px;">Limpieza Jardinería</mat-card-title>
                </mat-card-header>
                <mat-card-content class="pl-3">
                  <p>
                    Servicio de 4 horas, incluye servicio de jardinería según las especificaciones del cliente.
                  </p>
                  <p>
                    50 USD</p>
                </mat-card-content>
                <mat-card-actions class="text-center">
                  <button class="btn btn-success btn-lg btn-block">CONTRATAR</button>
                </mat-card-actions>
              </mat-card>
            </div> 
      </div>
    </div>
  </div>
</div>

-->

<ion-content color="primary">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Registro de usuario</h3>
          </div>
          <div padding>
            <div class="text-center pt-4">
              <img src="../../assets/images/profile-avatar2.png" width="40%" height="40%">
            </div>
            <ion-item>
              <ion-input type="text" formControlName="username" required placeholder="username"></ion-input>
            </ion-item>
          </div>
          <ion-item padding>
           
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>