<ion-content color="primary">
  <form (ngSubmit)="(f.valid)" #f="ngForm">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Iniciar Sesión</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input type="text" class="form-control" [(ngModel)]="form.username" id="username"
                placeholder="username" #username="ngModel" name="username" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" class="form-control" [(ngModel)]="form.password" id="password"
                placeholder="password" #password="ngModel" name="password" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="f.invalid" expand="block" (click)="login()">Iniciar
              Sesión</ion-button>
              <ion-button class="btn btn-block" size="large" type="submit" expand="block"
              (click)="goToRegister()">Registrarse
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>