<ion-menu side="start" menuId="primerMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Ver mis reservas</ion-item>
      <ion-item>Mostar Novedades</ion-item>
      <ion-item>Agendar servicio</ion-item>
      <ion-item >Ver mi perfil</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

