<ion-content id="register" class="register" color="primary">
  <form class="form" [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Registro de usuario</h3>
          </div>
          <div padding>
            <div class="text-center pt-4">
              <img src="../../assets/images/profile-avatar2.png" width="40%" height="40%">
            </div>
            <ion-item>
              <ion-input type="text" formControlName="username" required placeholder="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" formControlName="password" required placeholder="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="completeName" formControlName="completeName" required placeholder="Nombre Completo">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" formControlName="documentNumber" required placeholder="Número del documento">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email" type="text" [value]="registerForm.value.username" formControlName="email" readonly
                placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-select placeholder="Seleccione el Rol" class="form-control" formControlName="role" required>
                <ion-select-option value="CLIENT">Cliente</ion-select-option>
                <ion-select-option value="CLEANER">Cleaner</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input type="text" formControlName="phone" required placeholder="Teléfono"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" formControlName="address" required placeholder="Dirección"></ion-input>
            </ion-item>
          </div>
          <ion-item padding>
            <ion-button class="btn btn-block" size="large" type="submit" [disabled]="registerForm.invalid" expand="block"
              (click)="register()">Registrarse
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>